{
  "project_info": {
    "project_number": "54508456945",
    "firebase_url": "https://numberin.firebaseio.com",
    "project_id": "numberin",
    "storage_bucket": "numberin.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:54508456945:android:ec9de29f3214bab2",
        "android_client_info": {
          "package_name": "com.numberin"
        }
      },
      "oauth_client": [
        {
          "client_id": "54508456945-0od9r68vn054uc2v7hcnu3k8p5ppvitr.apps.googleusercontent.com",
          "client_type": 1,
          "android_info": {
            "package_name": "com.numberin",
            "certificate_hash": "b11cff4f985673fd05d9abfa520d930d172748d1"
          }
        },
        {
          "client_id": "54508456945-h52ork7sfh1k6c369vjk3a5r1mofk23p.apps.googleusercontent.com",
          "client_type": 3
        }
      ],
      "api_key": [
        {
          "current_key": "AIzaSyAr8ZmyXz0KSeyFYP2HI0PbQGzs8i0y-CE"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": [
            {
              "client_id": "54508456945-h52ork7sfh1k6c369vjk3a5r1mofk23p.apps.googleusercontent.com",
              "client_type": 3
            }
          ]
        }
      }
    }
  ],
  "configuration_version": "1"
}